<aside class="content-note" data-content-note data-flag="{{ accessibility_flag }}" aria-labelledby="content-note-heading">
  <h2 id="content-note-heading" class="content-note__heading">Content note</h2>
  <p class="content-note__body">{{ content_note }}</p>
  <div class="content-note__actions">
    <button type="button" class="button button--primary" data-content-note-continue>Continue</button>
    <button type="button" class="button button--ghost" data-content-note-dismiss-session>Continue and don't show this again this session</button>
  </div>
</aside>
